@charset "UTF-8";
/**********

変数管理

**********/
/*************

レスポンシブ

**************/
/*************

メディアクエリ定義

**************/
/********* モバイルファーストmixin*********************/
/*************

font-size定義

**************/
/*************

flex定義

**************/
body {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  margin: 0 auto;
  font-family: "Cinzel", "Hannari", "Noto Serif JP", serif;
  color: #58656e;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  background: #58656e;
}

/*************

モック画像
終わったら削除

**************/
.mock {
  /* モック画像 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 375px;
  opacity: 0.3;
  /* 反転 */
  -webkit-filter: hue-rotate(180deg);
          filter: hue-rotate(180deg);
  /* テキストを掴まないように */
  pointer-events: none;
  z-index: 999;
}

.section_ttl {
  font-size: 32px;
  /*IE9以前に対応する*/
  font-size: 2rem;
  display: block;
}

@media screen and (min-width: 1400px) {
  .section_ttl {
    font-size: 80px;
    /*IE9以前に対応する*/
    font-size: 5rem;
  }
}

.section_inner {
  width: 100%;
  max-width: 335px;
}

@media screen and (min-width: 1400px) {
  .section_inner {
    max-width: 1740px;
  }
}

/****************************************:

header

*****************************************:*/
.header {
  width: 100%;
  line-height: 43px;
  background: #000;
}

.header_ttl {
  font-size: 32px;
  /*IE9以前に対応する*/
  font-size: 2rem;
}

/****************************************:

nav (ハンバーガーメニュー含む)

*****************************************:*/
/****************************************:

各ページのスタイル読み込み

*****************************************:*/
/****************************************:

fv

*****************************************:*/
/****************************************:

concept

*****************************************:*/
/****************************************:

info

*****************************************:*/
/****************************************:

contact

*****************************************:*/
/****************************************:

menu

*****************************************:*/
/****************************************:

access

*****************************************:*/
/****************************************:

staff

*****************************************:*/
/****************************************:

footer

*****************************************:*/
