@charset "UTF-8";
/**********

変数管理

**********/
/*************

レスポンシブ

**************/
/*************

メディアクエリ定義

**************/
/********* モバイルファーストmixin*********************/
/*************

font-size定義

**************/
/*************

flex定義

**************/
body {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  margin: 0 auto;
  font-family: "Cinzel", "Hannari", "Noto Serif JP", serif;
  color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  background: #58656e;
}

/*************

モック画像
終わったら削除

**************/
.mock {
  /* モック画像 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 375px;
  opacity: 0.3;
  /* 反転 */
  -webkit-filter: hue-rotate(180deg);
          filter: hue-rotate(180deg);
  /* テキストを掴まないように */
  pointer-events: none;
  z-index: 999;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .mock {
    width: 768px;
  }
}

.section_ttl {
  font-size: 22px;
  /*IE9以前に対応する*/
  font-size: 1.375rem;
  display: block;
  letter-spacing: .0033em;
  color: #ffffff;
  line-height: 1.31;
  text-align: center;
}

@media screen and (min-width: 1400px) {
  .section_ttl {
    font-size: 80px;
    /*IE9以前に対応する*/
    font-size: 5rem;
  }
}

.section_inner {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .section_inner {
    max-width: 688px;
  }
}

@media screen and (min-width: 1400px) {
  .section_inner {
    max-width: 1740px;
  }
}

/****************************************:

header

*****************************************:*/
.header {
  width: 100%;
  line-height: 43px;
  background: #000;
}

.header_ttl {
  font-size: 32px;
  /*IE9以前に対応する*/
  font-size: 2rem;
}

/****************************************:

nav (ハンバーガーメニュー含む)

*****************************************:*/
/****************************************:

各ページのスタイル読み込み

*****************************************:*/
/****************************************:

fv

*****************************************:*/
/****************************************:

concept

*****************************************:*/
.concept {
  padding-top: 50px;
  margin-bottom: 50px;
  background-color: #58656e;
  margin-top: 1061px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .concept {
    padding-top: 80px;
    margin-bottom: 86px;
  }
}

.concept .section_ttl {
  text-align: left;
  margin-left: 30px;
  letter-spacing: .15em;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .concept .section_ttl {
    margin-left: 60px;
    font-size: 35px;
    /*IE9以前に対応する*/
    font-size: 2.1875rem;
  }
}

.concept_txt {
  margin: 10px 30px 0;
  color: #EBF2EA;
  font-family: はんなり明朝, serif;
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
  line-height: 40px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .concept_txt {
    margin: 48px 60px 0;
    font-size: 25px;
    /*IE9以前に対応する*/
    font-size: 1.5625rem;
    line-height: 3rem;
    letter-spacing: .01rem;
  }
}

.concept_imgBox {
  overflow: hidden;
}

.concept_imgBox:nth-child(3) {
  width: 191px;
  height: 297px;
  margin: 57px 0 0 auto;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .concept_imgBox:nth-child(3) {
    width: 390px;
    height: 586px;
    margin: 69px 0 0 auto;
  }
}

.concept_imgBox:nth-child(3) img {
  -webkit-transform: translateY(-6%);
          transform: translateY(-6%);
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .concept_imgBox:nth-child(3) img {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
}

.concept_imgBox:nth-child(4) {
  width: 289px;
  height: 191px;
  margin: 30px 0 15px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .concept_imgBox:nth-child(4) {
    width: 628px;
    height: 350px;
    margin: 80px 0 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .concept_imgBox:nth-child(4) img {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
}

.concept_imgBox:nth-child(5) {
  width: 289px;
  height: 191px;
  margin: 15px 0 0;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .concept_imgBox:nth-child(5) {
    width: 628px;
    height: 366px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .concept_imgBox:nth-child(5) img {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
}

/****************************************:

info

*****************************************:*/
.info {
  padding-bottom: 49px;
  margin-left: 51px;
  color: #FFFFFF;
  background-color: #58656e;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .info {
    padding-bottom: 80px;
    margin-left: 100px;
  }
}

.info .section_ttl {
  text-align: left;
  letter-spacing: .12em;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .info .section_ttl {
    font-size: 35px;
    /*IE9以前に対応する*/
    font-size: 2.1875rem;
    letter-spacing: .35rem;
  }
}

.info_txt {
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
  line-height: 1.2rem;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .info_txt {
    font-size: 25px;
    /*IE9以前に対応する*/
    font-size: 1.5625rem;
    line-height: 2.1rem;
  }
}

.info_txt:nth-child(2) {
  margin-top: 26px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .info_txt:nth-child(2) {
    margin-top: 50px;
  }
}

.info_txt:nth-child(3), .info_txt:nth-child(5) {
  margin-bottom: 33px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .info_txt:nth-child(3), .info_txt:nth-child(5) {
    margin-bottom: 50px;
  }
}

.info_txt:nth-child(6), .info_txt:nth-child(7), .info_txt:nth-child(8) {
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .info_txt:nth-child(6), .info_txt:nth-child(7), .info_txt:nth-child(8) {
    line-height: 2.4rem;
  }
}

/****************************************:

contact

*****************************************:*/
.contact {
  padding: 50px 0;
  text-align: center;
  background-color: #bac1c7;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact {
    padding: 78px 0;
    margin-top: 42px;
  }
}

.contact .section_ttl {
  letter-spacing: .12em;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact .section_ttl {
    font-size: 35px;
    /*IE9以前に対応する*/
    font-size: 2.1875rem;
    margin-bottom: 62px;
  }
}

.contact_icon {
  width: 26px;
  margin: 0 auto 12px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact_icon {
    width: 42px;
    margin: 0 auto 15px;
  }
}

.contact_icon_txt {
  margin-bottom: 30px;
  font-family: はんなり明朝;
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
  letter-spacing: 2.8px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact_icon_txt {
    margin-bottom: 50px;
    font-size: 25px;
    /*IE9以前に対応する*/
    font-size: 1.5625rem;
  }
}

.contact_txt {
  margin: 0 25px 26px;
  font-size: 11px;
  /*IE9以前に対応する*/
  font-size: 0.6875rem;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact_txt {
    margin: 0 90px 60px;
    font-size: 20px;
    /*IE9以前に対応する*/
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

.contact_img {
  width: 375px;
  height: 191px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact_img {
    width: 768px;
    height: 295px;
  }
}

.contact_img img {
  -webkit-transform: translateY(-13%);
          transform: translateY(-13%);
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact_img img {
    -webkit-transform: translateY(-22%);
            transform: translateY(-22%);
  }
}

/****************************************:

menu

*****************************************:*/
.concept {
  width: 100%;
}

.menu {
  padding: 50px 0 22px;
  background-color: #58656e;
}

.menu .section_ttl {
  margin-bottom: 28px;
}

.menu .section_inner {
  margin: 0 auto;
  padding: 0 30px;
}

.menu_table {
  width: 276px;
  display: block;
}

.menu_table.__cut {
  margin-bottom: 25px;
}

.menu_table.__perm {
  margin-bottom: 24px;
}

.menu_table.__perm .menu_table_headspan {
  display: block;
  font-size: 15px;
  /*IE9以前に対応する*/
  font-size: 0.9375rem;
  margin-left: 0;
}

.menu_table.__clr {
  margin-bottom: 20px;
}

.menu_table.__clr .menu_table_headspan {
  font-size: 15px;
  /*IE9以前に対応する*/
  font-size: 0.9375rem;
  margin-left: 0;
}

.menu_table.__treat {
  margin-bottom: 27px;
}

.menu_table.__treat .menu_table_headspan {
  text-align: left;
  display: block;
  font-size: 15px;
  /*IE9以前に対応する*/
  font-size: 0.9375rem;
  margin-left: 0;
}

.menu_table.__other {
  margin-bottom: 25px;
}

.menu_table.__other .menu_table_headspan {
  font-size: 15px;
  /*IE9以前に対応する*/
  font-size: 0.9375rem;
  margin-left: 0;
}

.menu_table.__other .menu_table_right.__fz {
  font-size: 11pxpx;
  /*IE9以前に対応する*/
  font-size: 0.6875pxrem;
}

.menu_table_head {
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 1.25rem;
  letter-spacing: .001em;
}

.menu_table_head_box {
  width: 274px;
  text-align: left;
  margin-bottom: 17px;
}

.menu_table_headspan {
  letter-spacing: .00064em;
  margin-left: 22px;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  line-height: 1;
}

.menu_table_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  line-height: 1;
}

.menu_table_box.__dire {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu_table_box.__dire .menu_table_left {
  margin-bottom: 7px;
}

.menu_table_box.__dire .menu_table_right.__price_treat {
  margin-left: 62px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_table_box.__dire .menu_table_right.__price_other {
  margin-left: 34px;
  font-size: 11px;
  /*IE9以前に対応する*/
  font-size: 0.6875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_table_left {
  font-size: 13px;
  /*IE9以前に対応する*/
  font-size: 0.8125rem;
}

.menu_table_right {
  font-size: 13px;
  /*IE9以前に対応する*/
  font-size: 0.8125rem;
}

.menu_table_right.__ml {
  display: block;
}

.menu_table_txt {
  margin-bottom: 4px;
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 0.75rem;
  letter-spacing: 0;
}

/****************************************:

access

*****************************************:*/
.access {
  padding: 50px 0 51px;
  background: #bac1c7;
}

.access_imgbox {
  background: url(/img/section-access/accecss.jpg) no-repeat;
  background-size: cover;
  width: 335px;
  height: 167px;
  margin-left: 40px;
  margin-bottom: 30px;
}

.access .section_ttl {
  margin-bottom: 20px;
  letter-spacing: .19em;
}

.access_txtbox {
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
  text-align: center;
  margin: 0 auto;
}

.access_txt {
  letter-spacing: .27em;
  line-height: 1.6;
  margin-bottom: 19px;
}

.access_icon {
  text-align: center;
  display: inline-block;
}

.access_icontxt {
  position: relative;
  display: inline-block;
  letter-spacing: .1em;
  margin-left: 30px;
}

.access_icontxt::before {
  position: absolute;
  display: block;
  content: '';
  background: url(/img/svg/map.svg) no-repeat;
  width: 100%;
  height: 100%;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.access_txtspa {
  margin-left: 5px;
}

/****************************************:

staff

*****************************************:*/
/****************************************:

footer

*****************************************:*/
.footer {
  color: #FFFFFF;
  font-weight: bold;
  background-color: #bac1c7;
}

.footer_flex {
  padding: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer_flex {
    padding: 80px 100px;
  }
}

.footer_txt {
  margin-bottom: -15px;
  font-size: 32px;
  /*IE9以前に対応する*/
  font-size: 2rem;
  letter-spacing: 4.8px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer_txt {
    font-size: 55px;
    /*IE9以前に対応する*/
    font-size: 3.4375rem;
  }
}

.footer_right {
  font-size: 10px;
  /*IE9以前に対応する*/
  font-size: 0.625rem;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer_right {
    font-size: 15px;
    /*IE9以前に対応する*/
    font-size: 0.9375rem;
  }
}

.insta {
  width: 25px;
  height: 25px;
  margin-top: 12px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .insta {
    width: 39px;
    height: 39px;
    margin-top: 22px;
  }
}
