// ベーススタイル用


body {

    @include rem(16);

    margin: 0 auto;
    font-family: $fontMain;
    color: $cWhite;
    text-size-adjust: 100%
}


* {
    box-sizing: border-box;
}



.container {
    margin: 0 auto;
    background: $cBlack;

}

/*************

モック画像
終わったら削除

**************/


.mock {
    /* モック画像 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 768px;
    opacity: 0.3;

    /* 反転 */
    filter: hue-rotate(180deg);

    /* テキストを掴まないように */
    pointer-events: none;

    z-index: 999;


    @include Sm {
        width: 576px;
    }

    @include Tab {
        width: 768px;
    }

    @include Lg {
        width: 992px;
    }

    @include Xl {
        width: 1200px;
    }

    @include XXl {
        width: 1400px;
    }

}




//共通タイトル
.section_ttl {
    @include rem(22);
    display: block;
    letter-spacing: .0033em;
    color: $cWhite;
    line-height: 1.31;
    text-align: center;

    @include Tab {
        @include rem(35);
        line-height: 1.34;
        letter-spacing: .16em
    }

    @include Xl {
        @include rem(32);
        letter-spacing: .15em
    }



    @include XXl {
        @include rem(37);
    }
}


//セクションの共通inner
.section_inner {
    width: 100%;
    max-width: 335px;
    margin: 0 auto;



    @include Sm {
        max-width: 425px;
    }


    @include Tab {
        max-width: 688px;
    }


    @include Lg {
        max-width: 889px;
    }


    @include Xl {
        max-width: 950px;
    }


    @include XXl {
        max-width: 1120px;
    }

}