/****************************************:

footer

*****************************************:*/

.footer{
  color: $cWhite;
  font-weight: bold;
  background-color: $cGray;

  &_flex{
    padding: 50px;
    @include flex();

    @include Tab{
      padding: 80px 100px;
    }

    @include Lg {
      padding: 100px 130px;
    }

    @include Xl{
      padding: 90px 115px;
    }

    @include XXl{
      padding: 105px 140px;
    }
  }

  &_txt{
    margin-bottom: -15px;
    @include rem(32);
    letter-spacing: 4.8px;

    @include Tab{
      @include rem(55);
    }

    @include Lg {
      margin-bottom: -3px;
      @include rem(70);
      letter-spacing: 12px;
    }

    @include Xl{
      margin-bottom: -6px;
      @include rem(50);
      letter-spacing: 7.8px;
    }

    @include XXl{
      margin-bottom: -6px;
      @include rem(60);
      letter-spacing: 7.8px;
    }
  }

  &_right{
    @include rem(10);

    @include Tab{
      @include rem(15);
    }

    @include Lg {
      @include rem(20);
    }

    @include Xl{
      @include rem(13);
    }

    @include XXl{
      @include rem(15);
    }
  }
}


.insta{
  width: 25px;
  height: 25px;
  margin-top: 12px;

  @include Tab{
    width: 39px;
    height: 39px;
    margin-top: 22px;
  }

  @include Lg {
    width: 50px;
    height: 50px;
    margin-top: 32px;
  }

  @include Xl{
    width: 36px;
    height: 36px;
    margin-top: 22px;
  }

  @include XXl{
    width: 36px;
    height: 36px;
    margin-top: 27px;
  }
}
