/****************************************:

header

*****************************************:*/
.header {
  width: 100%;
  line-height: 43px;
  background: #000;

  &_ttl {
    @include rem(32);
  }
}





/****************************************:

nav (ハンバーガーメニュー含む)

*****************************************:*/



