#page_top {

  position: fixed;
  right: 10px;
  bottom: 250px;
  z-index: 10000;
  opacity: 0;
  transform: translateY(100px);

  a {

    display: flex;
    justify-content: center;
    align-items: center;
    background: $cOrange;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    color: $cWhite;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    @include rem(16);
    transition: all .3s;
  }

  &:hover {
    opacity: 0.8;
  }

}


#page_top.UpMove {
  animation: UpAnime 0.5s forwards;
}

#page_top.DownMove {
  animation: DownAnime 0.5s forwards;
}


@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(100px);
  }
}



// fadeアニメーション

.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.fadeLeft {
  animation-name: fadeLeftAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeRight {
  animation-name: fadeRightAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}




.fadeInTrigger,
.fadeUpTrigger,
.fadeDownTrigger,
.fadeLeftTrigger,
.fadeRightTrigger {
  opacity: 0;
}


.delay-time03 {
  animation-delay: 0.3s;
}

.delay-time04 {
  animation-delay: 0.4s;
}

.delay-time1 {
  animation-delay: 1s;
}