// サイトコンテンツスタイル用
// index.html用

/****************************************:

fv/スライダー

*****************************************:*/

.swiper-slide {
  width: 100%;
  overflow: hidden;
  padding-left: 5%;
}

.fv_img {
  height: 578px;
  object-fit: cover;

  @include Sm {
    height: 885px;
    transform: translateX(10px);
  }


  @include Tab {
    height: 910px;
  }

  @include Lg {
    height: 448px;
  }

  @include Xl {
    height: 538px;
  }

  @include XXl {
    height: 625px;
  }
}

.fv {
  &_scroll {
    display: inline-block;
    position: absolute;
    left: 14px;
    bottom: 24px;
    z-index: 2;
    padding: 10px 10px 110px;
    overflow: hidden;
    color: $cWhite;
    @include rem(15);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;


    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 2px;
      height: 107px;
      background: rgba(255, 255, 255, 0.4);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 2px;
      height: 107px;
      background: $cWhite;
      animation: scroll 1.5s cubic-bezier(1, 0, 0, 1) infinite;
    }
  }
}

@include Sm {
  .fv {
    &_scroll {
      display: inline-block;
      position: absolute;
      left: 30px;
      bottom: 18px;
      z-index: 2;
      padding: 10px 10px 200px;
      overflow: hidden;
      color: $cWhite;
      @include rem(19);
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      writing-mode: vertical-lr;

      &::before {
        content: "";
        position: absolute;
        top: 108px;
        left: 50%;
        width: 2px;
        height: 160px;
        background: rgba(255, 255, 255, 0.4);
      }

      &::after {
        content: "";
        position: absolute;
        top: 108px;
        left: 50%;
        width: 2px;
        height: 160px;
        background: $cWhite;
        animation: scroll 1.5s cubic-bezier(1, 0, 0, 1) infinite;
      }
    }
  }
}

@include Tab {
  .fv {
    &_scroll {
      display: inline-block;
      position: absolute;
      left: 42px;
      bottom: -18px;
      z-index: 2;
      padding: 10px 10px 280px;
      overflow: hidden;
      color: $cWhite;
      @include rem(22);
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      writing-mode: vertical-lr;

      &::before {
        content: "";
        position: absolute;
        top: 117px;
        left: 50%;
        width: 2px;
        height: 215px;
        background: rgba(255, 255, 255, 0.4);
      }

      &::after {
        content: "";
        position: absolute;
        top: 117px;
        left: 50%;
        width: 2px;
        height: 215px;
        background: $cWhite;
        animation: scroll 1.5s cubic-bezier(1, 0, 0, 1) infinite;
      }
    }
  }
}

@include Lg {
    .fv {
      &_scroll {
        display: inline-block;
        position: absolute;
        left: 52px;
        bottom: -5px;
        z-index: 2;
        padding: 10px 10px 130px;
        overflow: hidden;
        color: white;
        @include rem(12);
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        writing-mode: vertical-lr;

        &::before {
          content: "";
          position: absolute;
          top: 65px;
          left: 50%;
          width: 2px;
          height: 103px;
          background: rgba(255, 255, 255, 0.4);
        }

        &::after {
          content: "";
          position: absolute;
          top: 65px;
          left: 50%;
          width: 2px;
          height: 103px;
          background: #fff;
          animation: scroll 1.5s cubic-bezier(1, 0, 0, 1) infinite;
        }
      }
    }

}

@include Xl {
  .fv {
    &_scroll {
      display: inline-block;
      position: absolute;
      left: 65px;
      bottom: 0px;
      z-index: 2;
      padding: 10px 10px 150px;
      overflow: hidden;
      color: white;
      @include rem(14);
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      writing-mode: vertical-lr;

      &::before {
        content: "";
        position: absolute;
        top: 79px;
        left: 50%;
        width: 2px;
        height: 125px;
        background: rgba(255, 255, 255, 0.4);
      }

      &::after {
        content: "";
        position: absolute;
        top: 79px;
        left: 50%;
        width: 2px;
        height: 125px;
        background: #fff;
        animation: scroll 1.5s cubic-bezier(1, 0, 0, 1) infinite;
      }
    }
  }
}

@include XXl {
  .fv {
    &_scroll {
      display: inline-block;
      position: absolute;
      left: 79px;
      bottom: 10px;
      z-index: 2;
      padding: 10px 10px 160px;
      overflow: hidden;
      color: $cWhite;
      @include rem(16);
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      writing-mode: vertical-lr;

      &::before {
        content: "";
        position: absolute;
        top: 85px;
        left: 50%;
        width: 2px;
        height: 148px;
        background: rgba(255, 255, 255, 0.4);
      }

      &::after {
        content: "";
        position: absolute;
        top: 85px;
        left: 50%;
        width: 2px;
        height: 148px;
        background: $cWhite;
        animation: scroll 1.5s cubic-bezier(1, 0, 0, 1) infinite;
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }

  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }

  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }

  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

/****************************************:

concept

*****************************************:*/

.concept {
  padding-top: 50px;
  margin-bottom: 50px;
  background-color: $cBlack;


  @include Sm {
    padding-top: 80px;
    margin-bottom: 78px;
  }

  @include Tab {
    padding-top: 80px;
    margin-bottom: 86px;
  }

  @include Lg {
    padding-top: 105px;
    margin-bottom: 105px;
  }

  @include Xl {
    padding-top: 150px;
    margin-bottom: 86px;
  }

  @include XXl {
    padding-top: 114px;
  }

  .section_ttl {
    text-align: left;
    margin-left: 30px;
    letter-spacing: 0.15em;

    @include Sm {
      margin-left: 0;
      @include rem(34);
    }

    @include Tab {
      margin-left: 60px;
      @include rem(35);
    }

    @include Lg {
      margin-left: 75px;
      @include rem(46);
    }

    @include Xl {
      margin-left: 0;
      @include rem(32);
    }

    @include XXl {
      margin-left: 0;
      @include rem(37);
    }
  }

  &_txt {
    margin: 10px 30px 0;
    color: $cWhite_2;
    font-family: はんなり明朝, serif;
    @include rem(14);
    line-height: 40px;

    @include Sm {
      margin: 18px auto 0;
      @include rem(22);
      line-height: 3.8rem;
    }

    @include Tab {
      margin: 48px 60px 0;
      @include rem(25);
      line-height: 3rem;
      letter-spacing: 0.01rem;
    }

    @include Lg {
      margin: 52px 75px 0;
      @include rem(27);
      line-height: 4rem;
      letter-spacing: 0.35rem;
    }

    @include Xl {
      margin: 16px 476px 0 0;
      @include rem(15.5);
      line-height: 3rem;
    }

    @include XXl {
      margin: 20px 565px 0 0;
      @include rem(18.5);
      line-height: 3.5rem;
    }
  }

  &_imgBox {
    overflow: hidden;

    &:nth-child(3) {
      width: 191px;
      height: 297px;
      margin: 57px 0 0 auto;
      text-align: center;

      @include Sm {
        width: 295px;
        height: 456px;
        margin: 88px -46px 0 auto;
      }

      @include Tab {
        width: 390px;
        height: 586px;
        margin: 69px 0 0 auto;
      }

      @include Lg {
        width: 505px;
        height: 757px;
        margin: 85px 0 0 auto;
      }

      @include Xl {
        width: 417px;
        height: 630px;
        margin: -183px 0 0 auto;
      }

      @include XXl {
        width: 490px;
        height: 745px;
        margin: -215px 0 0 auto;
      }

      img {
        transform: translateY(-6%);

        @include Tab {
          transform: translateY(-8%);
        }

        @include Xl {
          transform: translateY(-8%);
        }

        @include XXl {
          transform: translateY(-7%);
        }
      }
    }

    &:nth-child(4) {
      width: 289px;
      height: 191px;
      margin: 30px 0 15px;

      @include Sm {
        width: 445px;
        height: 295px;
        margin: 45px 0 23px -45px;
      }

      @include Tab {
        width: 628px;
        height: 350px;
        margin: 80px 0 26px;
      }

      @include Lg {
        width: 812px;
        height: 450px;
        margin: 105px 0 35px;
      }

      @include Xl {
        width: 475px;
        height: 300px;
        margin: -368px 0 33px;
      }

      @include XXl {
        width: 560px;
        height: 357px;
        margin: -436px 0 37px;
      }

      img {
        @include Tab {
          transform: translateY(-4%);
        }
      }
    }

    &:nth-child(5) {
      width: 289px;
      height: 191px;
      margin: 15px 0 0;

      @include Sm {
        width: 445px;
        height: 295px;
        margin-left: -45px;
      }

      @include Tab {
        width: 628px;
        height: 366px;
        margin-left: 0;
      }

      @include Lg {
        width: 812px;
        height: 472px;
      }

      @include Xl {
        width: 475px;
        height: 300px;
      }

      @include XXl {
        width: 560px;
        height: 357px;
      }

      img {
        @include Tab {
          transform: translateY(-4%);
        }

        @include Xl {
          transform: translateY(-4%);
        }

        @include XXl {
          transform: translateY(-2%);
        }
      }
    }
  }
}

/****************************************:

info

*****************************************:*/

.info {
  padding-bottom: 49px;
  margin-left: 51px;
  color: #ffffff;
  background-color: $cBlack;

  @include Sm {
    padding-bottom: 76px;
    margin-left: 0;
  }

  @include Tab {
    padding-bottom: 80px;
    margin-left: 100px;
  }

  @include Lg {
    padding-bottom: 147px;
    margin-left: 130px;
  }

  @include Xl {
    padding-bottom: 92px;
    margin: -267px 0 0 647px;
  }

  @include XXl {
    padding-bottom: 114px;
    margin: -300px 0 0 55%;
  }

  .section_ttl {
    text-align: left;
    letter-spacing: 0.12em;

    @include Sm {
      @include rem(32);
      letter-spacing: 0.35rem;
    }

    @include Tab {
      @include rem(35);
      letter-spacing: 0.35rem;
    }

    @include Lg {
      @include rem(47.5);
      letter-spacing: 0.35rem;
    }

    @include Xl {
      @include rem(33);
    }

    @include XXl {
      @include rem(37.9);
    }
  }

  &_txt {
    @include rem(14);
    line-height: 1.2rem;

    @include Sm {
      @include rem(22);
      line-height: 2.1rem;
    }

    @include Tab {
      @include rem(25);
      line-height: 2.1rem;
    }

    @include Lg {
      @include rem(30);
      line-height: 3.3rem;
      letter-spacing: 0.13rem;
    }

    @include Xl {
      @include rem(19);
      line-height: 2rem;
    }

    @include XXl {
      @include rem(21);
      line-height: 2rem;
    }

    &:nth-child(2) {
      margin-top: 26px;

      @include Sm {
        margin-top: 36px;
      }

      @include Tab {
        margin-top: 50px;
      }

      @include Lg {
        margin-top: 58px;
      }

      @include Xl {
        margin-top: 35px;
      }

      @include XXl {
        margin-top: 50px;
      }
    }

    &:nth-child(3),
    &:nth-child(5) {
      margin-bottom: 33px;

      @include Sm {
        margin-bottom: 40px;
      }

      @include Tab {
        margin-bottom: 50px;
      }

      @include Lg {
        margin-bottom: 50px;
      }

      @include XXl {
        margin-bottom: 48px;
      }
    }

    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      line-height: 1.5rem;

      @include Sm {
        line-height: 2.4rem;
      }

      @include Tab {
        line-height: 2.4rem;
      }

      @include Lg {
        line-height: 3.3rem;
      }

      @include XXl {
        line-height: 1.7rem;
      }
    }
  }
}

/****************************************:

contact

*****************************************:*/

.contact {
  padding: 90px 0;
  text-align: center;
  background-color: $cGray;

  @include Sm {
    padding: 80px 0;
  }

  @include Tab {
    padding: 78px 0;
  }

  @include Lg {
    padding: 100px 0;
  }

  @include XXl {
    padding: 110px 0;
  }

  .section_ttl {
    letter-spacing: 0.12em;
    margin-bottom: 18px;

    @include Sm {
      @include rem(35);
      margin-bottom: 34px;
    }

    @include Tab {
      @include rem(35);
      margin-bottom: 62px;
    }

    @include Lg {
      @include rem(47.5);
      margin-bottom: 75px;
    }

    @include Xl {
      @include rem(33);
      margin-bottom: 30px;
    }

    @include XXl {
      @include rem(37);
      margin-bottom: 35px;
    }
  }

  &_flex {
    @include Xl {
      margin: 0 122px 60px;
      @include flex();
    }

    @include XXl {
      margin: 0 136px 80px;
      @include flex();
    }
  }

  &_icon {
    width: 26px;
    margin: 0 auto 12px;

    @include Sm {
      width: 40px;
      margin: 0 auto 15px;
    }

    @include Tab {
      width: 42px;
      margin: 0 auto 15px;
    }

    @include Lg {
      width: 55px;
      margin: 0 auto 20px;
    }

    @include Xl {
      width: 36px;
      line-height: 36px;
    }

    @include XXl {
      width: 40px;
      line-height: 36px;
    }

    &_txt {
      margin-bottom: 30px;
      font-family: はんなり明朝;
      @include rem(14);
      letter-spacing: 2.8px;

      @include Sm {
        margin-bottom: 45px;
        @include rem(20);
        letter-spacing: 4px;
      }

      @include Tab {
        margin-bottom: 50px;
        @include rem(25);
      }

      @include Lg {
        margin-bottom: 75px;
        @include rem(25);
        letter-spacing: 9px;
      }

      @include Xl {
        margin-bottom: 0;
        @include rem(19);
      }

      @include XXl {
        margin-bottom: 0;
        @include rem(20);
        letter-spacing: 6px;
      }
    }
  }

  &_txt {
    margin: 0 25px 26px;
    @include rem(11);

    @include Sm {
      margin: 0 0 38px;
      @include rem(14);
      line-height: 1.8rem;
      letter-spacing: 2.6px;
    }

    @include Tab {
      margin: 0 90px 60px;
      @include rem(20);
      line-height: 2rem;
    }

    @include Lg {
      margin: 0 110px 65px;
      @include rem(24);
      line-height: 2.8rem;
      letter-spacing: 2px;
    }

    @include Xl {
      margin: 0 280px 68px;
      @include rem(15);
      line-height: 2rem;
    }

    @include XXl {
      margin: 0 330px 91px;
      @include rem(18);
      line-height: 2rem;
    }
  }

  &_img {
    width: 100%;
    height: 191px;
    margin: 0 auto;
    overflow: hidden;

    @include Sm {
      width: 576px;
      height: 292px;
    }

    @include Tab {
      width: 768px;
      height: 295px;
    }

    @include Lg {
      width: 992px;
      height: 380px;
    }

    @include Xl {
      // TO DO あとで熟考する
      // width: 1130px;
      // height: 415px;
      // margin-right: 1005px;
      width: 95.5%;
      height: 35vw;
      margin-right: 5%;
    }

    @include XXl {
      width: 95.5%;
      height: 35vw;
      margin-right: 5%;
    }

    img {
      transform: translateY(-13%);

      @include Tab {
        transform: translateY(-22%);
      }

      @include Xl {
        transform: translateY(-22%);
      }

      @include XXl {
        transform: translateY(-22%);
      }
    }
  }
}

/****************************************:

menu

*****************************************:*/


.menu {
  padding: 96px 0 22px;
  background-color: $cBlack;

  @include Sm {
    padding: 80px 0 49px;
  }

  @include Tab {
    padding: 110px 0 50px;
  }

  @include Lg {
    padding: 77px 0 50px;
  }

  @include Xl {
    padding: 96px 0 36px;

  }


  @include XXl {
    padding: 112px 0 82px;
  }


  .section_ttl {
    margin-bottom: 28px;

    @include Sm {
      margin-bottom: 40px;
    }

    @include Tab {
      margin-bottom: 60px;
    }

    @include Lg {
      margin-bottom: 32px;
    }

    @include Xl {
      margin-bottom: 40px;
    }

    @include XXl {
      margin-bottom: 51px;
    }
  }


  .section_inner {
    margin: 0 auto;
    padding: 0 30px;


    @include Sm {
      padding: 0;
    }
  }

  &_container {
    display: block;

    @include Lg {
      padding: 0 100px;
      display: flex;
      justify-content: space-between;

    }

    @include Xl {
      padding: 0 80px;
      display: flex;
      justify-content: space-between;
    }

    @include XXl {
      padding: 0 106px;
      display: flex;
      justify-content: space-between;

    }
  }

  &_content {
    @include Lg {
      width: 48%;
    }
  }

  &_table {
    width: 276px;
    display: block;
    margin: 0 auto;

    @include Sm {
      width: 100%;
    }

    @include Tab {
      width: 90%;
      @include rem(20);
      justify-content: flex-end;
    }

    @include Xl {
      width: 330px;
    }

    @include XXl {
      width: 385px;
    }




    &.__cut {
      margin-bottom: 19px;

      @include Sm {
        margin-bottom: 40px;
      }

      @include Tab {
        margin-bottom: 65px;
      }

      @include Lg {
        margin-bottom: 39px;
      }

      @include Xl {
        margin-bottom: 50px;
      }

      @include XXl {
        margin-bottom: 50px;
      }
    }

    &.__perm {
      margin-bottom: 27px;

      @include Sm {
        margin-bottom: 23px;
      }

      @include Tab {
        margin-bottom: 70px;
      }

      @include Lg {
        margin-bottom: 38px;
      }


      @include Xl {
        margin-bottom: 47px;
      }

      @include XXl {
        margin-bottom: 52px;
      }

      .menu_table_headspan {
        display: block;
        @include rem(15);
        margin-left: 0;

        @include Sm {
          @include rem(22);
        }

        @include Tab {
          @include rem(20);
          margin-bottom: 32px;
        }

        @include Lg {
          @include rem(12);
          margin-left: auto;
          margin-bottom: 0;
        }

        @include Xl {
          margin-left: 17px;
        }


      }
    }


    &.__clr {
      margin-bottom: 20px;

      @include Sm {
        margin-bottom: 34px;
      }

      @include Tab {
        margin-bottom: 80px;
      }

      @include Lg {
        margin-bottom: 30px;
      }

      @include Xl {
        margin-bottom: 50px;
      }

      @include XXl {
        margin-bottom: 30px;
      }
    }


    &.__treat {
      margin-bottom: 19px;

      @include Sm {
        margin-bottom: 42px;
      }

      @include Tab {
        margin-bottom: 80px;
      }

      @include Lg {
        margin-bottom: 36px;
      }

      @include Xl {
        margin-left: 17px;
        margin-bottom: 53px;
      }

      @include XXl {
        // margin-left: 14px;
        margin-left: 0;
        @include rem(18);
      }

      .menu_table_head_box {
        margin-bottom: 26px;

        @include XXl {
          margin-bottom: 20px;
        }
      }

      .menu_table_headspan {
        @include rem(15);
        margin-left: 0;
        display: block;

        @include Sm {
          @include rem(23);
        }

        @include Tab {
          @include rem(20);
        }

        @include Lg {
          @include rem(12);
        }

        @include XXl {
          text-align-last: left;
        }

      }

      .menu_table_box.__dire {
        @include Tab {
          flex-direction: initial;
        }


      }


    }

    &.__other {
      margin-bottom: 25px;

      .menu_table_headspan {
        @include rem(15);
        margin-left: 0;
      }

      .menu_table_right.__fz {
        @include rem(11px);

        @include Tab {
          margin-bottom: 72px;
        }


        @include XXl {
          .menu_table_head_box {
            margin-bottom: 37px;
          }

          .menu_table_headspan {
            display: block;
            margin-left: 0;
            line-height: 1.2;
          }
        }

      }

      .menu_table_headspan {
        @include rem(15);
        margin-left: 0;
      }

      // ////////
      // @include XXl {
      //   margin-bottom: 61px;
      // }

      .menu_table_head_box {
        @include XXl {
          margin-bottom: 23px;
        }
      }

      .menu_table_box.__dire {
        @include Tab {
          flex-direction: initial;
        }

      }

    }




    &_head {
      @include rem(20);
      letter-spacing: 0.001em;

      @include Sm {
        @include rem(32);
      }

      @include Tab {
        @include rem(25);
      }

      @include Lg {
        @include rem(16);

        &.__row {
          display: flex;
          align-items: baseline;
        }
      }

      @include Xl {
        letter-spacing: 0.03em;
        @include rem(18);


        &.__row {
          display: flex;
        }
      }

      @include XXl {
        @include rem(21);

        &.__row {
          display: flex;
          align-items: baseline;
        }
      }



      &_box {
        width: 274px;
        text-align: left;
        margin-bottom: 17px;

        @include Sm {
          width: 100%;
        }


        @include Tab {
          width: 100%;
          margin-bottom: 23px;
        }


        @include Xl {
          width: 100%;
        }

        ///
        @include XXl {
          width: 100%;
          margin-bottom: 13px;

          span {
            @include rem(17);
          }
        }

      }
    }

    @include Xl {
      letter-spacing: 0.03em;
      @include rem(18);

      &_headspan {
        letter-spacing: 0.00064em;
        margin-left: 22px;
        @include rem(16);
        line-height: 1;


        //   /
        @include Xl {
          @include rem(20);
        }

        &_box {
          width: 274px;
          text-align: left;
          margin-bottom: 17px;

          @include Tab {
            @include rem(20);
          }

          @include Xl {
            line-height: 2;
          }
        }

        //
        @include Xl {
          width: 100%;
        }

        @include XXl {
          margin-bottom: 20px;
        }
      }

      // @include Tab {
      //   @include rem(20);
      // }

    }

    &_box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 7px;
      line-height: 1;

      @include Sm {
        margin-bottom: 18px;
      }

      @include Tab {
        display: flex;
        margin-bottom: 20px;
      }

      @include Lg {
        margin-bottom: 4px;
      }


      @include Xl {
        margin-bottom: 10px;
      }

      @include XXl {
        margin-bottom: 11px;
      }

      &.__dire {
        flex-direction: column;
        margin-bottom: 13px;

        @include Sm {
          margin-bottom: 19px;
        }

        @include Lg {
          margin-bottom: 5px;
        }

        @include Xl {
          flex-direction: initial;
          display: flex;
          line-height: 2;

          margin-bottom: -3px;
        }

      }

      .menu_table_left {
        margin-bottom: 7px;
      }

      .menu_table_right.__price_treat {
        margin-left: 17px;
        display: flex;
        justify-content: space-between;

        @include Sm {
          justify-content: flex-end;

          span {
            margin-left: 33px;
          }
        }

        @include Tab {
          justify-content: flex-end;

          span {
            margin-left: 13px;
          }

        }

        @include Lg {
          margin-left: 0;

          span {
            margin-left: 5px;
            @include rem(10);
          }
        }

        @include Xl {
          margin-left: 7px;
        }

        @include XXl {
          margin-left: -30px;
          justify-content: flex-end;
        }


        &.__dire {
          flex-direction: column;


          @include Xl {
            flex-direction: initial;
            display: flex;
          }

          .menu_table_left {
            margin-bottom: 7px;
          }


          span {
            margin-left: 25px;

            @include Xl {
              margin-left: 10px;
            }

            @include XXl {
              margin-left: 12px;
            }
          }
        }
      }
    }

    .menu_table_headspan {
      @include rem(15);
      margin-left: 33px;

      @include Sm {
        @include rem(22);
      }

      @include Tab {
        @include rem(18);
      }

      @include Lg {
        @include rem(11);
      }

      @include XXl {
        @include rem(18);
        letter-spacing: .05em;
        margin-left: 12px;
        line-height: 2;
        text-align: right;

      }
    }


    .menu_table_right.__price_other {
      margin-left: 34px;
      @include rem(11);
      display: flex;
      justify-content: space-between;

      @include Sm {

        span {
          @include rem(18);
        }
      }

      @include Tab {
        @include rem(20);
        justify-content: flex-end;
      }

      @include Lg {

        margin-left: 0;

        span {
          @include rem(10);

        }
      }

      @include Xl {
        margin-left: 0;
      }

      @include XXl {
        @include rem(13);
        letter-spacing: -0.01em;

        margin-left: 7%;
      }
    }



    &_left {
      @include rem(13);

      @include Sm {
        @include rem(19);
      }

      @include Tab {
        @include rem(20);
      }

      @include Lg {
        @include rem(11);
      }

      @include XXl {
        @include rem(16);
      }
    }

    &_right {
      // @include rem(13);

      @include rem(20);

      @include Tab {
        @include rem(20);
      }

      @include Lg {
        @include rem(12);
      }

      @include XXl {
        @include rem(15);
      }

      &.__ml {
        display: block;
      }
    }

    &_txt {
      margin-bottom: 4px;
      @include rem(12);
      letter-spacing: 0;

      @include Sm {
        @include rem(18);
      }

      @include Tab {
        @include rem(18);
      }

      @include Lg {
        @include rem(11);
      }

      @include XXl {
        @include rem(14);
      }
    }
  }
}

/****************************************:

access

*****************************************:*/

.access {
  padding: 50px 0 51px;
  background: $cGray;

  @include Sm {
    padding: 80px 0 73px;
  }

  @include Tab {
    padding: 80px 0 90px;
  }

  @include Lg {
    padding: 80px 0 75px;
  }

  @include Xl {
    padding: 93px 0 92px;
  }

  @include XXl {
    padding: 115px 0 115px;
  }

  &_imgbox {
    background: url(../img/section-access/accecss.jpg) no-repeat;
    background-size: cover;
    width: 335px;
    height: 167px;
    margin-left: auto;
    margin-bottom: 30px;

    @include Sm {
      width: 89%;
      height: 44vw;
      margin-bottom: 45px;
    }

    @include Tab {
      width: 728px;
      height: 345px;

      margin-bottom: 82px;
    }

    @include Lg {
      width: 100%;
      height: 345px;
      background-position-y: -103px;
      margin-bottom: 48px;

    }

    @include Xl {
      width: 100%;
      height: 440px;
      margin-bottom: 37px;
      background-position-y: -125px;
    }

    @include XXl {
      width: 100%;
      height: 480px;
      margin-bottom: 73px;
      // background-position-y: -147px;
      background-position-y: 50%;
    }
  }

  .section_ttl {
    margin-bottom: 20px;
    letter-spacing: 0.19em;

    @include Sm {
      margin-bottom: 37px;
    }

    @include Tab {
      margin-bottom: 60px;
    }

    @include Lg {
      margin-bottom: 50px;
    }

    @include Xl {
      margin-bottom: 54px;
    }

    @include XXl {
      margin-bottom: 74px;
    }
  }

  &_txtbox {
    @include rem(14);
    // width: 252px;
    text-align: center;
    margin: 0 auto;

    @include rem(18);

    @include Tab {
      @include rem(25);
    }

    @include Lg {
      @include rem(19);
    }

    @include Xl {
      @include rem(20);
    }

    @include XXl {
      @include rem(24);
    }
  }

  &_txt {
    letter-spacing: 0.27em;
    line-height: 1.6;
    margin-bottom: 18px;

    @include Sm {
      line-height: 2;
    }

    @include Tab {
      margin-bottom: 40px;
      letter-spacing: 0.22em;
      line-height: 1.78;
    }

    @include Lg {
      margin-bottom: 34px;

      span {
        margin-right: 23%;
      }
    }

    @include Xl {
      margin-bottom: 52px;
      letter-spacing: 0.34em;
      line-height: 1.8;

      span {
        margin-right: 26%;
      }
    }

    @include XXl {
      margin-bottom: 55px;
      letter-spacing: .29em;
    }
  }

  &_icon {
    text-align: center;
    display: inline-block;
    margin-left: 9px;

    @include Tab {
      margin-left: 0;
      margin-right: 35px;
    }

    @include Xl {
      margin-left: 0;
      margin-right: 10px;
      letter-spacing: 0.2em;
    }
  }

  &_icontxt {
    display: inline-block;
    letter-spacing: 0.15em;
    margin-left: 10px;

    @include Sm {
      @include rem(21);
    }

    @include Lg {
      margin-left: 38px;
    }

    @include Xl {
      margin-left: 10px;
    }

    &:before {
      display: inline-block;
      content: "";
      background: url(../img/svg/map.svg) no-repeat;
      width: 15px;
      height: 21px;
      margin-right: 5px;
      transform: translateY(6px);

      @include Sm {
        width: 22px;
        height: 30px;
        background-size: contain;
      }

      @include Tab {
        width: 22px;
        height: 33px;
        background-size: contain;
      }

      @include Xl {
        width: 30px;
        height: 39px;
        background-size: contain;
        transform: translate(-8px, 13px);
      }
    }
  }

  &_txtspa {
    margin-left: 5px;
  }
}

/****************************************:

staff

*****************************************:*/

.staff {
  padding: 50px 0 18px;
  background: $cBlack;

  @include Sm {
    padding: 77px 0 33px;
  }

  @include Tab {
    // padding: 80px 0 20px;
    padding: 85px 0 20px;
  }

  @include Lg {
    padding: 75px 0 20px;
  }

  @include Xl {
    padding: 100px 0 73px;
  }

  @include XXl {
    padding: 113px 0 47px;
  }

  .section_ttl {
    margin-bottom: 21px;

    @include Sm {
      margin-bottom: 40px;
    }

    @include Tab {
      margin-bottom: 63px;
    }

    @include Lg {
      margin-bottom: 40px;
    }

    @include Xl {
      margin-bottom: 53px;
    }
  }

  &_content {
    display: block;

    @include Lg {
      display: flex;
      justify-content: center;
      margin: 20px 0;

    }

    @include Xl {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
    }

    @include XXl {
      margin: 60px 0;
      display: flex;
      justify-content: space-between;

    }
  }

  &_box {
    width: 275px;
    overflow: hidden;
    margin: 0 auto 30px;

    @include Sm {
      width: 100%;
      margin: 0 auto 43px;
    }

    @include Tab {
      width: 568px;
      margin: 0 auto 60px;
    }

    @include Lg {
      width: 250px;
      margin: 0 10px 35px;


    }

    @include Xl {
      width: 305px;
      margin: 0;
    }

    @include XXl {
      width: 355px;
    }
  }

  &_imgbox {
    // width: 275px;
    height: 163px;
    display: block;
    margin: 0 auto 8px;

    @include Sm {
      height: 250px;
      margin: 0 auto 17px;
    }

    @include Tab {
      height: 347px;
      margin: 0 auto 8px;
    }

    @include Lg {
      height: 170px;
    }

    @include Xl {
      height: 204px;
      margin: 0 auto 7px;
    }

    @include XXl {
      width: 100%;
      height: 234px;
      margin: 0 auto 12px;
    }

    &.__left {
      background: url(../img/section-staff/staff1.jpg) no-repeat;
      background-size: 167%;
      background-position: 50% 60%;
    }

    &.__center {
      background: url(../img/section-staff/staff2.jpg) no-repeat;
      background-size: 100%;
      background-position: 50% 26%;
    }

    &.__right {
      background: url(../img/section-staff/staff3.jpg) no-repeat;
      background-size: 134%;
      background-position: 56% 40%;
    }
  }

  &_txt_ja {
    @include rem(15);

    @include Sm {
      @include rem(22);
    }

    @include Tab {
      @include rem(23);
    }

    @include Lg {
      @include rem(11);
      letter-spacing: .1em;
    }

    @include XXl {
      @include rem(20);
    }
  }

  &_txt_en {
    @include rem(12);

    @include Sm {
      @include rem(17);
    }

    @include Tab {
      @include rem(20);
    }

    @include Lg {
      @include rem(10);
    }

    @include Xl {
      @include rem(11);
      letter-spacing: 0.09em;
    }

    @include XXl {
      @include rem(12);
    }
  }
}