// サイトコンテンツスタイル用
// index.html用



/****************************************:

fv/スライダー

*****************************************:*/


.swiper-slide {
  width: 100%;
  overflow: hidden;
  padding-left: 5%;

}

.fv_img {
  height: 578px;
  object-fit: cover;

  @include Sm {
    height: 885px;
    transform: translateX(10px);
  }


  @include Tab {
    height: 910px;
  }

  @include Xl {
    height: 538px;
  }

  @include XXl {
    height: 625px;
  }
}


.fv {

  &_scroll {
    display: inline-block;
    position: absolute;
    left: 14px;
    bottom: 24px;
    z-index: 2;
    padding: 10px 10px 110px;
    overflow: hidden;
    color: $cWhite;
    @include rem(15);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 2px;
      height: 107px;
      background: rgba(255, 255, 255, .4);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 2px;
      height: 107px;
      background: $cWhite;
      animation: scroll 1.5s cubic-bezier(1, 0, 0, 1) infinite;
    }
  }
}

@include Sm {
  .fv {

    &_scroll {
      display: inline-block;
      position: absolute;
      left: 30px;
      bottom: 18px;
      z-index: 2;
      padding: 10px 10px 200px;
      overflow: hidden;
      color: $cWhite;
      @include rem(19);
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      writing-mode: vertical-lr;

      &::before {
        content: '';
        position: absolute;
        top: 108px;
        left: 50%;
        width: 2px;
        height: 160px;
        background: rgba(255, 255, 255, .4);
      }

      &::after {
        content: '';
        position: absolute;
        top: 108px;
        left: 50%;
        width: 2px;
        height: 160px;
        background: $cWhite;
        animation: scroll 1.5s cubic-bezier(1, 0, 0, 1) infinite;
      }
    }
  }

}

@include Tab {
  .fv {

    &_scroll {
      display: inline-block;
      position: absolute;
      left: 42px;
      bottom: -18px;
      z-index: 2;
      padding: 10px 10px 280px;
      overflow: hidden;
      color: $cWhite;
      @include rem(22);
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      writing-mode: vertical-lr;

      &::before {
        content: '';
        position: absolute;
        top: 117px;
        left: 50%;
        width: 2px;
        height: 215px;
        background: rgba(255, 255, 255, .4);
      }

      &::after {
        content: '';
        position: absolute;
        top: 117px;
        left: 50%;
        width: 2px;
        height: 215px;
        background: $cWhite;
        animation: scroll 1.5s cubic-bezier(1, 0, 0, 1) infinite;
      }
    }
  }
}

@include Xl {
  .fv {

    &_scroll {
      display: inline-block;
      position: absolute;
      left: 65px;
      bottom: 0px;
      z-index: 2;
      padding: 10px 10px 150px;
      overflow: hidden;
      color: white;
      @include rem(14);
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      writing-mode: vertical-lr;

      &::before {
        content: '';
        position: absolute;
        top: 79px;
        left: 50%;
        width: 2px;
        height: 125px;
        background: rgba(255, 255, 255, .4);
      }

      &::after {
        content: '';
        position: absolute;
        top: 79px;
        left: 50%;
        width: 2px;
        height: 125px;
        background: #fff;
        animation: scroll 1.5s cubic-bezier(1, 0, 0, 1) infinite;
      }
    }
  }
}

@include XXl {
  .fv {

    &_scroll {
      display: inline-block;
      position: absolute;
      left: 79px;
      bottom: 10px;
      z-index: 2;
      padding: 10px 10px 160px;
      overflow: hidden;
      color: $cWhite;
      @include rem(16);
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      writing-mode: vertical-lr;

      &::before {
        content: '';
        position: absolute;
        top: 85px;
        left: 50%;
        width: 2px;
        height: 148px;
        background: rgba(255, 255, 255, .4);
      }

      &::after {
        content: '';
        position: absolute;
        top: 85px;
        left: 50%;
        width: 2px;
        height: 148px;
        background: $cWhite;
        animation: scroll 1.5s cubic-bezier(1, 0, 0, 1) infinite;
      }
    }
  }

}


@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }

  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }

  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }

  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}






/****************************************:

concept

*****************************************:*/


.concept {
  padding-top: 50px;
  margin-bottom: 50px;
  background-color: $cBlack;

  // TO DO あとで消す---
  // margin-top: 222px;
  // -------

  @include Tab {
    padding-top: 80px;
    margin-bottom: 86px;
  }

  @include Xl {
    padding-top: 150px;
    margin-bottom: 86px;
  }

  @include XXl {
    padding-top: 114px;
  }

  .section_ttl {
    text-align: left;
    margin-left: 30px;
    letter-spacing: .15em;

    @include Tab {
      margin-left: 60px;
      @include rem(35);
    }

    @include Xl {
      margin-left: 0;
      @include rem(32);
    }

    @include XXl {
      margin-left: 0;
      @include rem(37);
    }
  }

  &_txt {
    margin: 10px 30px 0;
    color: $cWhite_2;
    font-family: はんなり明朝, serif;
    @include rem(14);
    line-height: 40px;

    @include Tab {
      margin: 48px 60px 0;
      @include rem(25);
      line-height: 3rem;
      letter-spacing: .01rem;
    }

    @include Xl {
      margin: 16px 476px 0 0;
      @include rem(15.5);
      line-height: 3rem;
    }

    @include XXl {
      margin: 20px 565px 0 0;
      @include rem(18.5);
      line-height: 3.5rem;
    }
  }

  &_imgBox {
    overflow: hidden;

    &:nth-child(3) {
      width: 191px;
      height: 297px;
      margin: 57px 0 0 auto;
      text-align: center;

      @include Tab {
        width: 390px;
        height: 586px;
        margin: 69px 0 0 auto;
      }

      @include Xl {
        width: 417px;
        height: 630px;
        margin: -183px 0 0 auto;
      }

      @include XXl {
        width: 490px;
        height: 745px;
        margin: -215px 0 0 auto;
      }

      img {
        transform: translateY(-6%);

        @include Tab {
          transform: translateY(-8%);
        }

        @include Xl {
          transform: translateY(-8%);
        }

        @include XXl {
          transform: translateY(-7%);
        }
      }
    }

    &:nth-child(4) {
      width: 289px;
      height: 191px;
      margin: 30px 0 15px;

      @include Tab {
        width: 628px;
        height: 350px;
        margin: 80px 0 26px;
      }

      @include Xl {
        width: 475px;
        height: 300px;
        margin: -368px 0 33px;
      }

      @include XXl {
        width: 560px;
        height: 357px;
        margin: -436px 0 37px;
      }

      img {

        @include Tab {
          transform: translateY(-4%);
        }
      }
    }

    &:nth-child(5) {
      width: 289px;
      height: 191px;
      margin: 15px 0 0;

      @include Tab {
        width: 628px;
        height: 366px;
      }

      @include Xl {
        width: 475px;
        height: 300px;
      }

      @include XXl {
        width: 560px;
        height: 357px;
      }

      img {
        @include Tab {
          transform: translateY(-4%);
        }

        @include Xl {
          transform: translateY(-4%);
        }

        @include XXl {
          transform: translateY(-2%);
        }
      }
    }
  }
}





/****************************************:

info

*****************************************:*/



.info {
  padding-bottom: 49px;
  margin-left: 51px;
  color: #FFFFFF;
  background-color: $cBlack;

  @include Tab {
    padding-bottom: 80px;
    margin-left: 100px;
  }

  @include Xl {
    padding-bottom: 92px;
    margin: -267px 0px 0 647px;
  }

  @include XXl {
    padding-bottom: 114px;
    margin: -300px 0px 0 770px;
  }

  .section_ttl {
    text-align: left;
    letter-spacing: .12em;

    @include Tab {
      @include rem(35);
      letter-spacing: .35rem;
    }

    @include Xl {
      @include rem(33);
    }

    @include XXl {
      @include rem(37.9);
    }
  }

  &_txt {
    @include rem(14);
    line-height: 1.2rem;

    @include Tab {
      @include rem(25);
      line-height: 2.1rem;
    }

    @include Xl {
      @include rem(19);
      line-height: 2rem;
    }

    @include XXl {
      @include rem(21);
      line-height: 2rem;
    }

    &:nth-child(2) {
      margin-top: 26px;

      @include Tab {
        margin-top: 50px;
      }

      @include Xl {
        margin-top: 35px;
      }

      @include XXl {
        margin-top: 50px;
      }
    }

    &:nth-child(3),
    &:nth-child(5) {
      margin-bottom: 33px;

      @include Tab {
        margin-bottom: 50px;
      }

      @include XXl {
        margin-bottom: 48px;
      }
    }

    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      line-height: 1.5rem;

      @include Tab {
        line-height: 2.4rem;
      }

      @include XXl {
        line-height: 1.7rem;
      }
    }
  }
}





/****************************************:

contact

*****************************************:*/



.contact {
  padding: 90px 0;
  text-align: center;
  background-color: $cGray;

  @include Tab {
    padding: 78px 0;
  }

  @include XXl {
    padding: 110px 0;
  }

  .section_ttl {
    letter-spacing: .12em;
    margin-bottom: 18px;

    @include Tab {
      @include rem(35);
      margin-bottom: 62px;
    }

    @include Xl {
      @include rem(33);
      margin-bottom: 30px;
    }

    @include XXl {
      @include rem(37);
      margin-bottom: 35px;
    }
  }

  &_flex {

    @include Xl {
      margin: 0 122px 60px;
      @include flex();
    }

    @include XXl {
      margin: 0 136px 80px;
      @include flex();
    }
  }

  &_icon {
    width: 26px;
    margin: 0 auto 12px;

    @include Tab {
      width: 42px;
      margin: 0 auto 15px;
    }

    @include Xl {
      width: 36px;
      line-height: 36px;
    }

    @include XXl {
      width: 40px;
      line-height: 36px;
    }

    &_txt {
      margin-bottom: 30px;
      font-family: はんなり明朝;
      @include rem(14);
      letter-spacing: 2.8px;

      @include Tab {
        margin-bottom: 50px;
        @include rem(25);
      }

      @include Xl {
        margin-bottom: 0;
        @include rem(19);
      }

      @include XXl {
        margin-bottom: 0;
        @include rem(20);
        letter-spacing: 6px;
      }
    }
  }

  &_txt {
    margin: 0 25px 26px;
    @include rem(11);

    @include Tab {
      margin: 0 90px 60px;
      @include rem(20);
      line-height: 2rem;
    }

    @include Xl {
      margin: 0 280px 68px;
      @include rem(15);
      line-height: 2rem;
    }

    @include XXl {
      margin: 0 330px 91px;
      @include rem(18);
      line-height: 2rem;
    }
  }

  &_img {
    width: 375px;
    height: 191px;
    margin: 0 auto;
    overflow: hidden;

    @include Tab {
      width: 768px;
      height: 295px;
    }

    @include Xl {
      // TO DO あとで熟考する
      // width: 1130px;
      // height: 415px;
      // margin-right: 1005px;
      width: 95.5%;
      height: 35vw;
      margin-right: 5%;
    }

    @include XXl {
      width: 95.5%;
      height: 35vw;
      margin-right: 5%;
    }

    img {
      transform: translateY(-13%);

      @include Tab {
        transform: translateY(-22%);
      }

      @include Xl {
        transform: translateY(-22%);
      }

      @include XXl {
        transform: translateY(-22%);
      }
    }
  }
}





/****************************************:

menu

*****************************************:*/
.concept {
  background-color: red;
  width: 100%;
  height: 1182px;
}


.menu {
  padding: 50px 0 22px;
  background-color: $cBlack;

  @include Tab {
    padding: 110px 0 50px;
  }

  // @include Xl {
  //     padding: 90px 0 82px;
  // }

  .section_ttl {
    margin-bottom: 28px;

    @include Tab {
      margin-bottom: 60px;
    }

    @include Xl {
      margin-bottom: 40px;
    }
  }

  @include XXl {
    padding: 112px 0 82px;
  }


  .section_inner {
    margin: 0 auto;
    padding: 0 30px;
  }

  &_container {
    display: block;

    @include Xl {
      padding: 0 80px;
      display: flex;
      justify-content: space-between;
    }
  }


  &_table {
    width: 276px;
    display: block;
    margin: 0 auto;

    @include Tab {
      width: 90%;
    }

    @include Xl {
      width: 330px;
    }



    &.__cut {
      margin-bottom: 25px;

      @include Tab {
        margin-bottom: 77px;
      }

      @include Xl {
        margin-bottom: 50px;
      }
    }

    &.__perm {
      margin-bottom: 24px;

      @include Tab {
        margin-bottom: 70px;
      }

      @include Xl {
        margin-bottom: 47px;
      }

      .menu_table_headspan {
        display: block;
        @include rem(15);
        margin-left: 0;


        @include Tab {
          @include rem(20);
          margin-bottom: 32px;
        }


        @include Xl {
          margin-left: 17px;
        }
      }
    }

    @include XXl {
      width: 385px;
    }



    &.__clr {
      margin-bottom: 20px;

      @include Xl {
        margin-bottom: 50px;
      }

      @include XXl {
        margin-bottom: 65px;
      }
    }

    &.__perm {
      margin-bottom: 24px;

      @include Tab {
        margin-bottom: 70px;
      }

      .menu_table_headspan {
        @include rem(15);
        margin-left: 0;
      }

    }

    &.__treat {
      margin-bottom: 27px;

      @include Tab {
        margin-bottom: 72px;
      }

      @include Xl {
        margin-left: 17px;
      }

      @include XXl {
        margin-left: 14px;
        @include rem(18);
      }
    }
  }

  @include Xl {
    margin-bottom: 50px;
  }




  &.__other {
    margin-bottom: 25px;

    .menu_table_headspan {
      @include rem(15);
      margin-left: 0;
    }

    .menu_table_right.__fz {
      @include rem(11px);


      @include XXl {

        .menu_table_head_box {
          margin-bottom: 37px;
        }

        .menu_table_headspan {
          display: block;
          margin-left: 0;
          line-height: 1.2;
        }



      }


      @include Tab {
        margin-bottom: 72px;
      }

    }

    // ////////
    @include XXl {
      margin-bottom: 61px;
    }


    @include Tab {
      .menu_table_box.__dire {
        flex-direction: initial;
      }
    }

  }

  // /

  .menu_table_headspan {
    @include rem(15);
    margin-left: 0;



  }

  &_head {
    @include rem(20);
    letter-spacing: .001em;


    @include Xl {
      letter-spacing: .03em;

      &.__row {
        display: flex;
      }
    }

    @include Xl {
      @include rem(18);
    }

    &_box {
      width: 274px;
      text-align: left;
      margin-bottom: 17px;

      ///
      @include XXl {
        span {
          @include rem(17);
        }
      }

      @include Tab {
        width: 100%;
        margin-bottom: 23px;
      }

      @include Xl {
        width: 100%;
      }
    }


  }


  @include Xl {
    letter-spacing: .03em;
    @include rem(18);

    &_headspan {
      letter-spacing: .00064em;
      margin-left: 22px;
      @include rem(16);
      line-height: 1;




      //   /
      @include Xl {
        @include rem(20);
      }


      &_box {
        width: 274px;
        text-align: left;
        margin-bottom: 17px;

        @include Tab {
          @include rem(20);
        }


        @include Xl {
          line-height: 2;
        }
      }





      // 
      @include Xl {
        width: 100%;
      }

      @include XXl {
        margin-bottom: 20px;
      }
    }

    @include Tab {
      @include rem(20);
    }


    &_box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      line-height: 1;


      @include Xl {
        margin-bottom: 16px;
      }

      &.__dire {
        flex-direction: column;


        @include Xl {
          flex-direction: initial;
          display: flex;
        }

        @include Xl {
          line-height: 2;
        }

      }

      .menu_table_left {
        margin-bottom: 7px;
      }

      .menu_table_right.__price_treat {
        margin-left: 62px;
        display: flex;
        justify-content: space-between;


        @include Tab {
          justify-content: flex-end;

          span {
            margin-left: 25px;
          }
        }

        &.__dire {
          flex-direction: column;


          @include Xl {
            flex-direction: initial;
            display: flex;
          }

          .menu_table_left {
            margin-bottom: 7px;
          }


          .menu_table_right.__price_treat {
            margin-left: 62px;
            display: flex;
            justify-content: space-between;

            @include Xl {

              margin-left: 0;

              span {
                margin-left: 10px;
              }

            }

            @include XXl {
              span {
                margin-left: -9px;
              }
            }

          }

          span {
            margin-left: 25px;


            @include XXl {
              margin-left: 12px;
            }
          }
        }
      }
    }
  }

  .menu_table_right.__price_other {
    margin-left: 34px;
    @include rem(11);
    display: flex;
    justify-content: space-between;

    @include Tab {
      @include rem(20);
      justify-content: flex-end;
    }


    @include Xl {
      margin-left: 0;
    }

    @include XXl {
      @include rem(14);
    }
  }

  @include Tab {
    @include rem(20);
    justify-content: flex-end;
  }





  &_left {
    @include rem(13);

    @include Tab {
      @include rem(20);
    }

    @include XXl {
      @include rem(16);
    }
  }

  &_right {
    @include rem(13);

    @include Tab {
      @include rem(20);
    }

    @include XXl {
      @include rem(18);
    }


    &.__ml {
      display: block;
    }
  }

  &_txt {
    margin-bottom: 4px;
    @include rem(12);
    letter-spacing: 0;


    @include Tab {
      @include rem(18);
    }

    @include XXl {
      @include rem(14);
    }
  }
}







/****************************************:

access

*****************************************:*/


.access {
  padding: 50px 0 51px;
  background: $cGray;

  @include Tab {
    padding: 80px 0 90px;
  }

  @include Xl {
    padding: 70px 0 92px;
  }

  &_imgbox {
    background: url(/img/section-access/accecss.jpg) no-repeat;
    background-size: cover;
    width: 335px;
    height: 167px;
    margin-left: auto;
    margin-bottom: 30px;


    @include Tab {
      width: 728px;
      height: 345px;

      margin-bottom: 82px;
    }

    @include Xl {
      width: 100%;
      height: 440px;
      margin-bottom: 70px;
      background-position-y: -97px;
    }
  }

  .section_ttl {
    margin-bottom: 20px;
    letter-spacing: .19em;

    @include Tab {
      margin-bottom: 60px;
    }

    @include Xl {
      margin-bottom: 54px;
    }
  }

  &_txtbox {
    @include rem(14);
    // width: 252px;
    text-align: center;
    margin: 0 auto;

    @include Tab {
      @include rem(25);
    }

    @include Xl {
      @include rem(20);
    }
  }

  &_txt {
    letter-spacing: .27em;
    line-height: 1.6;
    margin-bottom: 12px;

    @include Tab {
      margin-bottom: 40px;
      letter-spacing: .22em;
      line-height: 1.78;
    }

    @include Xl {
      margin-bottom: 45px;
      letter-spacing: .34em;
      line-height: 1.8;

      span {
        margin-right: 26%;
      }
    }

  }

  &_icon {
    text-align: center;
    display: inline-block;
    margin-left: 9px;


    @include Tab {
      margin-left: 0;
      margin-right: 35px;
    }

    @include Xl {
      margin-left: 0;
      margin-right: 10px;
      letter-spacing: .2em;
    }
  }

  &_icontxt {
    display: inline-block;
    letter-spacing: .15em;
    margin-left: 10px;

    @include Xl {
      margin-left: 10px;
    }

    &:before {
      display: inline-block;
      content: '';
      background: url(/img/svg/map.svg) no-repeat;
      width: 15px;
      height: 21px;
      margin-right: 5px;
      transform: translateY(6px);

      @include Tab {
        width: 22px;
        height: 33px;
        background-size: contain;
      }

      @include Xl {
        width: 30px;
        height: 39px;
        background-size: contain;
        transform: translate(-8px, 13px);
      }
    }
  }


  &_txtspa {
    margin-left: 5px;
  }
}




/****************************************:

staff

*****************************************:*/

.staff {
  padding: 50px 0 18px;
  background: $cBlack;


  @include Tab {
    padding: 80px 0 20px;
  }

  @include Xl {
    padding: 100px 0 73px;
  }

  .section_ttl {
    margin-bottom: 21px;

    @include Tab {
      margin-bottom: 63px;
    }

    @include Xl {
      margin-bottom: 53px;
    }
  }

  &_content {
    display: block;

    @include Xl {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
    }
  }

  &_box {
    width: 275px;
    overflow: hidden;
    margin: 0 auto 30px;

    @include Tab {
      width: 568px;
      margin: 0 auto 60px;
    }

    @include Xl {
      width: 305px;
      margin: 0;
    }
  }


  &_imgbox {
    // width: 275px;
    height: 163px;
    display: block;
    margin: 0 auto 8px;

    @include Tab {
      height: 347px;
    }

    @include Xl {
      height: 204px;
      margin: 0 auto 7px;
    }

    &.__left {
      background: url(/img/section-staff/staff1.jpg) no-repeat;
      background-size: 167%;
      background-position: 50% 60%;
    }

    &.__center {
      background: url(/img/section-staff/staff2.jpg) no-repeat;
      background-size: 100%;
      background-position: 50% 26%;
    }

    &.__right {
      background: url(/img/section-staff/staff3.jpg) no-repeat;
      background-size: 134%;
      background-position: 56% 40%;
    }
  }

  &_txt_ja {
    @include rem(15);
  }


  &_txt_en {
    @include rem(12);

    @include Xl {
      @include rem(11);
      letter-spacing: .09em;
    }

  }
}